@font-face{
	font-family:Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:Semibold;
	src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family:Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
a, a:visited, a:focus, a:active, a:hover {
  outline:0 none !important; 
  text-decoration: none;
  cursor: pointer;
}

button:visited, button:focus, button:active, button:hover {
  outline:0 none !important;
  cursor: pointer;
}
ul{
	list-style: none;
	padding: 0;
}
h2{
	text-transform: uppercase;
	font-size: 26px;
	font-family: Bold;
	color: #1a1a1a;
}
h3{
	color:#1a1a1a;
}


header{
	.nav{
		background: #1c1c1c;
		height: 45px;
		width: 100%;
		font-family: Semibold;
		font-size: 16px;
		text-align: center;
		ul{
			margin: auto;
			display: flex;
			width: 770px;
			justify-content: space-around;
			text-transform: uppercase;
			height: 45px;
			align-items: center;
			a{
				color: #fff;
			}
		}
	}
	/////nav end/////
	.main{
		display: flex;
		justify-content: space-around;
		color: #373737;
		min-height: 615px;
		width: 100%;
		background-image: url(../img/header.png);
		.questions{
			text-transform: uppercase;
			font-family:Regular;
			font-size: 20px;
		}

	}
	/////main end/////
}
////header end////

main{
	.facts{
		color: #1a1a1a;
	}
	////facts end////
	.watch{
		background-image: url(../img/fon1.png);
		min-height: 496px;
		width: 100%;
		h2{
			color: #fff;
		}
	}
}

footer{	
 .buy{
 	background-image: url(../img/footer1.png);
 	min-height: 440px;
 }
}
